.HeaderBar {
  background: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.HeaderPop {
  position: absolute;
  left: 5px;
  top: 100%;
  z-index: 1;
}
