.IconButton {
  padding-left: 7px;
  padding-right: 7px;
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

.Group {
  margin-left: 13px;
  margin-right: 13px;
}
